.sort {
    display: flex;
    align-items: center;
   
}

.sort-mobil-activ {

    @media (max-width: 970px) {
        display: flex;
      }
}


.sort-mobil-noactiv {

    @media (max-width: 970px) {
        display: none;
      }
}