.catalogPage {
  padding-bottom: 203px;
  &__titlegroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    @media (max-width: 970px) {
      flex-direction: column;
    }
  }
  h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #111111;
    @media (max-width: 970px) {
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 15x;
    }
  }

  &__createcard-btn {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 19px;
    gap: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    background: #ffc85e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 79px;
    @media (max-width: 970px) {
      
    }
  }
}

.container {
  @media (max-width: 970px) {
    flex-direction: column;
  }
}

.cardlinkpagination {
  align-items: center;
}

.cardlinkpagination__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3f4e65;
}





.mobil-section {
  display: flex;
  align-items: center;
  text-align: center;
gap: 20px ;
  &__img {
    display: none;
    @media (max-width: 970px) {
      display: flex;
      &::after {
        content: '';
       
      }
    }
  }
}
