.categories {
  display: flex;
  gap: 11px;
  margin-bottom: 30px;

  @media (max-width: 970px) {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100px;
    height: 70px;
    background: #ffffff;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    /* 2 */

    color: #3f4e65;
    &:hover {
      background: rgba(43, 28, 1, 0.04);
    }

    &:active {
      background: #373636;
      color: #ffffff;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}




.categoriesColum {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  // border-bottom: 1px dashed #3F4E65;
  gap: 20px;
  @media (max-width: 970px) {
    gap: 10px;
   
  }

  &__item {
    font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #111111;
display: flex;
text-transform: uppercase;
justify-content: start;
@media (max-width: 970px) {
  text-transform: revert;
  font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #3F4E65; 
}
  }
}