.modal-createcard {
  position: fixed;
  top: 0;
  z-index: 100;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, 0.5);

  &__form {
    padding: 5px 20px 10px;
    background-color: #ffffff;
    width: 300px;
    // height: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 3%;
  }
  &__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
    gap: 10px;
    background: #ededed;
    border-radius: 36px;
    font-size: 12px;
  }
  
  &__text {
    font-weight: 300;
font-size: 14px;
line-height: 150%;
color: #3F4E65;
  }
  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 19px;
    gap: 12px;
    background: #ffc85e;
    border-radius: 79px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-top: 10px;
  }
}
