.header {
  &__top {
    display: flex;
    padding: 14px 15px;

    @media (max-width: 1200px) {
    }

    @media (max-width: 970px) {
      display: none;
    }
  }
  .header__adress-last {
    margin-right: 0;
    border-right: none;
  }

  &__adress {
    display: flex;
    gap: 18px;
    padding-right: 20px;
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    margin-right: 21px;

    @media (max-width: 1200px) {
      gap: 10px;
      padding-right: 10px;
      margin-right: 10px;
    }
    .adress__title {
      font-weight: 600;
      font-size: 14px;
      @media (max-width: 1200px) {
        font-size: 12px;
      }
    
  }


  }

  .adress__text {
    font-weight: 300;
    font-size: 12px;
    @media (max-width: 1200px) {
      font-size: 9px;
    }
  }

  &__ul {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  &__li {
    padding: 4px 0;
    border-right: 1px dashed rgba(63, 78, 101, 0.1);
    padding-right: 30px;
    margin-right: 30px;
    @media (max-width: 1200px) {
      margin-right: 20px;
      padding-right: 20px;
    }
  }

  &__li-last {
    padding: 4px 0;
    margin-right: 0;
    border-right: none;
  }

  &__link {
    font-style: normal;
    font-weight: 400;

    @media (max-width: 1200px) {
      font-size: 12px;
    }
  }

  &__down {
    border-top: 1px solid rgba(63, 78, 101, 0.2);
    border-bottom: 1px solid rgba(63, 78, 101, 0.2);
    
   

    @media (max-width: 970px) {
      display: none;
    }
  }

  &__down-conttainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 15px;
  }

  &__catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 19px;
    gap: 12px;
    color: #ffffff;
    width: 192px;
    height: 59px;
    background: #ffc85e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 79px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    @media (max-width: 1200px) {
      width: 155px;
      height: 50px;
      padding: 5px 13px;
    }
  }

  &__search {
    position: relative;
  }

  &__input {
    display: flex;
    height: 59px;
    width: 263px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 10px 13px 20px;
    gap: 10px;
    background: #ededed;
    border-radius: 36px;

    @media (max-width: 1200px) {
      width: 155px;
      height: 57px;
    }
  }

  &__input-btn {
    position: absolute;

    top: 10px;
    right: 10px;
    background: #ffc85e;
    border-radius: 1000px;
    width: 39px;
    height: 39px;
    text-align: center;
  }

  &__call {
    display: flex;
    gap: 10px;
    align-items: center;
    @media (max-width: 1024px) {
      display: none;
    }
    .header__number {
      text-align: end;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #111111;
    }
    .header__time {
      text-align: end;
      font-weight: 300;
      font-size: 12px;
      line-height: 150%;
      color: #3f4e65;
    }
    .header__zakazcall {
      text-align: end;
      font-weight: 400;
      font-size: 10px;
      line-height: 150%;
      color: #3f4e65;
      text-decoration-line: underline;
    }
  }

  &__imgwoman {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      border: 1px solid #1fd85d;
      border-radius: 50%/60% 60% 40% 40%;
      width: 70px;
      height: 92px;
      top: 1px;
      left: 3px;
    }
    &::before {
      content: '';
      position: absolute;
      border: 3px rgba(240, 246, 250, 1);
      background-color: #1fd85d;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      top: 27px;
      left: 60px;
    }
  }

  &__price {
    width: 200px;
    height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 19px;
    gap: 12px;
    background: #ffc85e;
    border-radius: 79px;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    @media (max-width: 1200px) {
      width: 155px;
      height: 50px;
      padding: 5px 13px;
    }
    @media (max-width: 970px) {
      width: 300px;
    }
  }

  &__basket {
    position: relative;
    display: flex;
    gap: 24px;

    .header__counter {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -2px;
      left: 25px;
      background: #ffc85e;
      border: 3px solid #ffffff;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      border-radius: 50%;
      width: 24px;
      height: 24px;
      color: #ffffff;
    }
  }
}

.burger {
  @media (min-width: 970px) {
    display: none;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__sultanlog {
  }

  &__down {
    justify-content: space-between;
    padding: 13px 45px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(63, 78, 100, 0.1);
    border-bottom: 1px solid rgba(63, 78, 100, 0.1);
  }

  &__catalog {
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #3f4e65;
  }

  &__br {
    height: 30px;
    border-left: 1px dashed rgba(63, 78, 101, 0.1);
  }

  &__search {
    text-align: center;
    &__input {
      text-align: center;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #3f4e65;
    }
  }

  &__listtop {
    padding-bottom: 25px;
    border-bottom: 1px dashed rgba(63, 78, 101, 0.2);
  }

  &__adress {
    display: flex;
    gap: 18px;
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    margin-right: 21px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  &__adress-last {
    margin-right: 0;
    border-right: none;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
  }

  &__text {
    font-weight: 300;
    font-size: 12px;
  }

  &__listdown {
    display: flex;
    padding: 25px 0;
    flex-direction: column;
    gap: 20px;
  }

  .listdown-menu {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #3f4e65;

    &__link {
      display: flex;
      font-size: 14px;
      line-height: 150%;
      color: #3f4e65;
      margin-bottom: 20p;
    }
  }
}
