.checkbox {
  gap: 10px;
  margin-bottom: 5px;

  &__input {
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #3f4e65;
  }

  &__btn {
    display: flex;
    margin-top: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: rgba(63, 78, 101, 1);
    margin-bottom: 20px;
    align-items: center;
    gap: 5px;
  }

  &__img {
  }

  &__br {
    border-top: 1px dashed rgba(63, 78, 101, 0.1);
    margin-bottom: 20px;
  }
}
